* {	margin: 0; padding: 0; }
body { background: #fff; font-family: '微软雅黑' }
ul li {	list-style: none; }
p { padding: 0; line-height: 30px; }
a:hover, a:link, a:visited, a:active { text-decoration: none; color: #fff; }
img { display: block; width: 100%; }
h1 { font-size: 30px; line-height: 30px; padding-bottom: 20px; font-weight: lighter; }
.clear { content: ''; display: table; clear: both; }
.fl { float: left; }
.fr { float: right; }

.home .entry { padding: 5px 0; }
.home .entry input[type=text] { display: block; margin: 0 auto; height: 36px;padding: 0 8px;line-height: 16px;width: 80%;font-size: 16px;color: #666;border-radius: 5px;border: 1px #F44336 solid; box-sizing: border-box; } 
.home .entry input[type=password] { display: block; margin: 0 auto; height: 36px;padding: 0 8px;line-height: 16px;width: 80%;font-size: 16px;color: #666;border-radius: 5px;border: 1px #F44336 solid; box-sizing: border-box; }
.home .entry select { display: block; margin: 0 auto; height: 36px; padding: 0 8px; width: 80%;font-size: 16px; line-height: 16px; color: #666;border-radius: 5px;border: 1px #F44336 solid; }

.home .container { margin: 0 auto; max-width: 640px; padding: 20px 0 0; }

.home .form { background: #eee; padding: 20px 0; }
.home a.btn { display: block; margin: 0 auto; width: 120px; background: red; border-radius: 5px; color: #fff; text-align: center; padding: 10px 0; font-size: 18px; line-height: 18px; margin-top: 20px; }
.home .title { color: rgb(255, 51, 0); font-size: 30px; line-height: 36px; padding: 0 0 10px; text-align: center; }
.home .text { padding: 20px 10px; font-size: 18px; }

.home footer { padding: 20px 0; text-align: center;/* background: #333; color: #fff; */font-size: 12px; }

.login input[type="text"],input[type="password"] { height: 28px; font-family: '微软雅黑', Arial, 'sans-serif'; font-size: 14px; line-height: 28px; padding: 0 8px; min-width: 200px; border-radius: 4px; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.login input:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); }

.login .entry { width: 100%; padding-bottom: 10px; }
.login .entry .fl:nth-child(1) { width: 65px;  }
.login .entry .fl:nth-child(2) { width: calc(100% - 65px); }
.login .entry:last-child .fl:nth-child(1) { width: 200px; }
.login .entry:last-child .fl:nth-child(2) { width: calc(100% - 200px);  text-align: center; }
.login { background: url(../images/bg.jpg) no-repeat; background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; color: #fff; }
.login .container { position: relative; }
.login .container .form {position: absolute;left: 0;right: 0;top: 100px;padding: 20px 50px;width: 300px;margin: 0 auto;background: rgba(13,13,13,0.25);border-radius: 8px;}
.login .container .title { font-size: 30px; text-align: center; padding: 20px 0; }
.login .container .form input { background-color: rgba(83, 78, 78, 0.35); border: 1px solid rgba(255, 255, 255, 0.27); color: rgb(255,255,255); }
.login .form input:focus { box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6); outline: 0; }
.login .form .submit { display: block; margin: 20px 0; background: #eb9316; color: #fff; padding: 10px 0; text-align: center; border-radius: 5px; }
.login .entry .code { min-width: 200px; margin-right: 10px; text-align: center;  letter-spacing: 3px; background: url(../images/bg_code.jpg) repeat center center; line-height: 30px; color: #000; }
.login .entry .reload-code { line-height: 30px; font-size: 12px; }


.admin .container { width: 100%; }
.admin input[type="text"],input[type="password"] { height: 28px; font-family: '微软雅黑', Arial, 'sans-serif'; font-size: 14px; line-height: 28px; padding: 0 8px; min-width: 200px; border-radius: 4px; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.admin input:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); }
.admin select { height: 30px; font-family: '微软雅黑', Arial, 'sans-serif'; font-size: 14px; line-height: 30px; padding: 0 8px; min-width: 218px; border-radius: 4px; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.admin form .entry { width: 100%; padding-bottom: 10px; }
.admin form .entry label { display: inline-block; min-width: 75px; }
.admin .search form .entry { float: left; width: 49%; padding-right: 2%; }
.admin .search form .entry:nth-child(2n) { padding-right: 0; }
.admin .search form .entry:nth-child(5) { width: 100%; padding-right: 0; }

.sidebar { position: fixed; top: 0; left: 0; width: 20%; height: 100%; background: #4d5e70; color: #b3bcc5; }
.sidebar a:hover, .sidebar a:link, .sidebar a:visited, .sidebar a:active { color: #b3bcc5; }
.sidebar .title { padding: 10px 0; text-align: center; background: #354457; color: #fff; font-size: 20px; }
.sidebar .title a:hover, .sidebar .title a:link, .sidebar .title a:visited, .sidebar .title a:active { color: #fff; }
.sidebar .title img { width: 20px; display: inline-block; padding-right: 5px; vertical-align: middle; }
.sidebar .personInfo { padding: 10px 5%; border-bottom: 2px #3d4e60 solid; width: 90%; }
.sidebar .personInfo .name { display: inline-block; color: #fff; line-height: 30px; }
.sidebar .personInfo .logout { display: inline-block; margin-left: 10px; }
.sidebar .personInfo .btn-logout { display: inline-block; padding: 3px 10px; border: 1px #b3bcc5 solid; border-radius: 5px; line-height: 22px; }
.sidebar .personInfo .btn-logout:hover { background: #3d4e60; color: #fff; }
.sidebar ul li ul li { }
.sidebar ul li ul li a { display: block; padding: 10px 0 10px 30px; line-height: 19px; } 
.sidebar ul li ul li a:hover { background: #3d4e60; color: #fff; }
.sidebar ul li ul li a.active { color: #fff; background: #3d4e60; border-right: 5px solid #647f9d; }
.sidebar ul li ul .menu-name i { display: inline-block; padding-right: 5px; font-size: 20px; line-height: 20px; }
.sidebar ul li .menu-title { padding: 10px; line-height: 20px; }
.sidebar .copyright { position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; padding: 10px; border-top: 2px #3d4e60 solid; background: #4d5e70; box-sizing: border-box; }
.sidebar .nav-toggle { display: none; }

.admin .btn { display: inline-block; padding: 5px 10px; color: #fff; border-radius: 5px; transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; }
.btn.add { background: #337ab7; }
.btn.modify { background: #f0ad4e; margin-bottom: 5px; }
.btn.search { background: #5cb85c; }
.btn.delete { background: #d9534f; }
.btn.save { background: #5bc0de; }
.btn.cancle { background: #969393; }
.btn.export { background: #f0ad4e; }
.btn.reflash { background: #5bc0de; }
.btn.add:hover { background: #4392d6; }
.btn.modify:hover { background: #f5bc6c; }
.btn.search:hover { background: #6cd46c; }
.btn.delete:hover { background: #f9605b; }
.btn.save:hover { background: #68d8f9; }
.btn.cancle:hover { background: #b3b1b1; }
.btn.export:hover { background: #f5bc6c; }
.btn.reflash:hover { background: #68d8f9; }

/* 链接内容的增加和修改按钮 */
.btn.add-link { background: #337ab7; }
.btn.modify-link { background: #f0ad4e; margin-bottom: 5px; }
.btn.add-link:hover { background: #4392d6; }
.btn.modify-link:hover { background: #f5bc6c; }

.table { width: 100%; }
table { width: 100%; border-collapse: collapse; }
table thead { background: #59d1a3; color: #fff; }
table tbody tr { transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; }
table tbody tr:hover { background: #eee; }
table td, table th { padding: 10px 5px; text-align: center; }
table td { border-bottom: 1px solid #ddd; font-size: 14px; word-wrap:break-word; }
table td a.original-link:link, table td a.original-link:visited, table td a.original-link:active { color: #1c9efe; }
table td a.original-link:hover { text-decoration: underline; }
table td a.verify-link:link, table td a.verify-link:visited, table td a.verify-link:active { color: #1c9efe; }
table td a.verify-link:hover { text-decoration: underline; }
table td a.spread-link:link, table td a.spread-link:visited, table td a.spread-link:active { color: #1c9efe; }
table td a.spread-link:hover { text-decoration: underline; }
table th { border-bottom: 1px solid #59d1a3; }


.main { width: 80%; padding: 20px 10px 0; box-sizing: border-box; }

.paginate { margin: 30px 0 15px; }
.paginate ul li { float: left; text-align: center; margin-right: 10px; }
.paginate ul a.active { background: #1c9efe; color: #fff;  }
.paginate ul a.active:hover { background: #1c9efe; color: #fff; }
.paginate ul li a { display: block; padding: 6px 12px; border: 1px #1c9efe solid; background: #fff; color: #1c9efe; transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; }
.paginate ul li a:hover { background: #1c9efe; color: #fff; }
.paginate ul li span { display: inline-block; padding: 6px 0; }
.paginate ul .pageRemark { padding-top: 45px; }

.operate { padding-bottom: 20px; }
.operate a { display: inline-block; padding: 5px 20px; }
/*form .entry { padding-bottom: 10px; width: 100%; }
form .entry label { display: inline-block; min-width: 75px; }*/

.popup { display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); }
.popup.active { display: block; } 
.popup .content { position: absolute; left: 50%; top: 50%; margin-top: -250px; margin-left: -200px; width: 400px; background: #fff; border-radius: 5px; }
.popup .content .title { padding: 10px 20px; background: #1c9efe; text-align: left; color: #fff; border-top-right-radius: 5px; border-top-left-radius: 5px; font-size: 20px; }
.popup .form { padding: 20px; }
.popup .form .operateForm label { display: inline-block; width: 30%; }
.popup .form .operateForm input { display: inline-block; width: 62%; }
.popup .form .operateForm .address-box { display: inline-block; width: 63%; vertical-align: text-top; }
.popup .form .operateForm .address-box input { width: 25%; }
.popup .operate { padding: 20px; text-align: center; }
.popup .operate a { margin: 0 20px; }
.popup .content .close { position: absolute; right: 0; top: 10px; }
.popup .content .close .btn-close { padding: 10px; }


@media all and (max-width: 480px) {
.login .container .form { padding: 20px 10px; }

}